block variables
    - let name = "Homework"

doctype html
html
    head
        meta(charset='UTF-8')
        title Homework E13
    body
        h1 Hello, PUG
        p #{name}
        //script(src='dist/main.js')
