.row {
    /*
    * .row — флекс-контейнер, этаж сетки.
    */
    display: flex;
    /*
    * Флекс-элементы будут раскладываться
    * слева направо.
    */
    flex-direction: row;
    /*
    * Прижимаем флекс-элементы к левому краю.
    */
    justify-content: flex-start;
    /*
    * Если места для элементов не хватает,
    * запрещаем их перенос на следующую строку.
    */
    flex-wrap: nowrap;
}

/*
* Флекс-элементы на одну, две, три
* и четыре колонки.
*/
.col-1,
.col-2,
.col-3,
.col-4 {
    /*
    * flex-grow определяет насколько элемент
    * будет больше своих соседей.
    * Элемент с flex-grow: 1 займёт
    * всю ширину контейнера,
    * два элемента с flex-grow: 1 поделят
    * контейнера пополам.
    *
    * flex-grow: 0 не даёт элементу
    * растягиваться больше указанного размера.
    */
    flex-grow: 0;
    /*
    * flex-shrink определяет насколько сильно
    * элемент будет уменьшатся, если
    * во флекс-контейнере не хватит места.
    */
    flex-shrink: 0;

    /*
    * Задаём колонкам внутренние отступы
    * по умолчанию.
    */
    box-sizing: border-box;
    padding-right: 20px;
}

.col-1 {
    /*
    * flex-basis задаёт начальный размер
    * элемента до того, как он начнёт тянуться
    * в соответствии с flex-grow.
    */
    flex-basis: 25%;
    max-width: 25%;
}

.col-2 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-3 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-4 {
    flex-basis: 100%;
    max-width: 100%;
}