block variables
    - let name = "Hunter"

doctype html
html
    head
        link(rel='stylesheet' href='dist/main.css')
        meta(charset='UTF-8')
        title PUG
    body
        h1 Hello, PUG
        p #{name}
        script(src='dist/main.js')
